@media only screen and (min-width:1441px) {
    .navi{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
    .naviC{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
    }
    .NLogin{
        color: black;
        text-decoration: none;
        padding: 7px 15px;
        font-size: 15px;
        text-decoration: none;
        margin: 3px 15px;
        height: 40px;
        border-radius: 18px;
        width: 70px;
        background-image: linear-gradient(134deg, rgb(203 0 255 / 85%), rgb(0 0 255 / 88%));
        color: white;
    }
    .HamMenu{
        display: none;
    }
    
    
}
@media only screen and (min-width:1025px) and (max-width:1440px) {
    .navi{
        display: flex;
        align-items: center;
    height: 70px;
    }
    .naviC{
        display: flex;
        align-items: center;
    height: 70px;
    }
    .NLogin{
        padding: 7px 15px;
        font-size: 15px;
        text-decoration: none;
        margin: 3px 15px;
        height:40px;
        border-radius: 18px;
        width: 70px;
        position: absolute;
        right: 0;
        top: 12px;
  
        background-image: linear-gradient(134deg, rgb(203 0 255 / 85%), rgb(0 0 255 / 88%));
        color: white;
        
    }
    .HamMenu{
        display: none;
    }
}
@media only screen and (min-width:10px) and (max-width:1024px) {
   
    .navi{
        display: flex;
        margin-top: 12px;
        align-items: flex-start;
        height: 260px;
    }
    .naviC{
        display: flex;
        align-items: center;
        height: 70px;
    }
    .Hamburger{
        height: 61px;
        width: 64px;
        color: black;
        position: absolute;
        right: 22px;
        border: none;
        background: none;
        padding: 5px 0px 0px 0px;
        text-decoration: none;
    }
    .burgerl{
   
        border-radius: 0.5em;
        height: 0.5em;
        width: 3.2em;
        margin: 5px 10px 0px 0px;
        background-color: blueviolet;
       
    }
    .burgerl:hover{
        
        border-radius: 1em;
        background-color: aqua;
    }
    .navbar{
        display: none;
    }
    .NLogin{
        display: none;
    }
    .menu{
    width: 100%;
    height: 200px;
    /* border: 2px solid red; */
    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 70px;
    }
    
    .HamMenu{
        border-top: 2px solid black ;
        background-image: linear-gradient(180deg, rgb(124, 47, 212), rgb(14, 14, 143));
        text-align: center;
        height: 200px;
        width: 100%;
       
    }
    .Hnavbar{
        display: block;
        margin: 3px 15px;
        padding: 7px 5px;
        font-size: 15px;
        text-decoration: none;
        font-family: OpenSans-Regular;
        color: rgb(255, 255, 255);
    }
    .Hnavbar:hover{
        font-size: 17px;
      

    }
    .hidden{
        display: none;

    }
    .visible{
        display: inherit;
    }
    .burgerl.clicked:nth-child(1){
        transform: rotate(45deg) translate(0.75em, 1.25em);
        transition: ease-out 0.5s;
        border-radius: 0px;
        
    }
    .burgerl.clicked:nth-child(2){
        transform: scale(0);
        transition: ease-out 0.5s;
        
    }
    .burgerl.clicked:nth-child(3){
        transform: rotate(135deg) translate(-0.5em, 1em);
        transition: ease-out 0.5s;
        border-radius: 0px;
        
    }
    .burgerl.unclicked{
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275)0.5s;

    }


  
    

    
}
nav{
    background-color: rgb(14, 14, 143);
    
}
.navi{

    /* background-color: rgba(238, 226, 221, 0.301); */
    /* border: 2px solid green; */

    width: 100%;
    border-bottom: 2px solid black;
}
.naviC{

    /* background-color: rgba(238, 226, 221, 0.301); */
    /* border: 2px solid green; */

    width: 100%;
    border-bottom: 2px solid black;
}
.Logo{
    display: flex;
    background: url(./Logo.png) center center no-repeat ;
    background-size:cover ;
    height: 49px;
    width: 8rem;
    margin-left: 15px;
    border-radius: 25px;
}
#Navbar{
    display: flex;
}
.navbar{
    /* display: inline-block; */
    margin: 3px 15px;
    padding: 7px 5px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* .contact-us{
    display: inline-block;
   
    
    text-align: center;

    
} */

